<footer>
  <div class="align-group-column footer-col">
      <img src="/svg/giant.svg">
      <p class="normal-400 text-small black">4315 N Elston Ave<br>Chicago, IL 60641</p>
      <p class="normal-400 text-micro black">(773) 539-9629</p>
      <p class="normal-400 text-micro black top-gap">Info@gianthvac.com</p>
  </div>
  <div class="align-group-column footer-col">
      <p class="upper-800 text-small black">Cooling</p>
      <a class="cap-400 text-small black" href="/residential/air-conditioners">air conditioners</a>
      <a class="cap-400 text-small black" href="/residential/ductless-systems">ductless systems</a>
  </div>
  <div class="align-group-column footer-col">
      <p class="upper-800 text-small black">Heating</p>
      <a class="cap-400 text-small black" href="/residential/furnaces">furnaces</a>
      <a class="cap-400 text-small black" href="/residential/heat-pumps">heat pumps</a>
      <a class="cap-400 text-small black" href="/residential/water-heater">water heaters</a>
  </div>
  <div class="align-group-column footer-col">
      <p class="upper-800 text-small black">information</p>
      <a class="cap-400 text-small black" href="/residential/about">about</a>
      <a class="cap-400 text-small black" href="/residential/coupons">coupons</a>
      <a class="cap-400 text-small black" href="/residential/special-finances">special finances</a>
  </div>
  <div class="align-group-column footer-col">
    <img style="width: 10em;" src="/svg/life-time.svg">
  </div>
</footer>