<div class="sg11">
  <p class="normal-400 white text-small" id="">See what other people say about <span class="upper-800">giant</span></p>
  <p class="cap-800 white text-medium" id="Author">Craig Marshall</p>
  <p class="normal-200 white text-small" id="Comment">Went to turn on the AC and it was blowing hot air all day. I called these guys to schedule a maintenance check and they came a few hours later. They were in and out and my AC is working fine now. 5 stars, would highly recommend!!!</p>
  <img class="line-3" src="/svg/blue-line.svg">
</div>
<footer>
  <div class="align-group-column footer-col">
      <img src="/svg/giant.svg">
      <p class="normal-400 text-small black">4315 N Elston Ave<br>Chicago, IL 60641</p>
      <p class="normal-400 text-micro black">(773) 539-9629</p>
      <p class="normal-400 text-micro black top-gap">Info@gianthvac.com</p>
  </div>
  <div class="align-group-column footer-col">
      <p class="upper-800 text-small black">services</p>
      <a class="cap-400 text-small black" href="/commercial/duct-work">duct-work</a>
      <a class="cap-400 text-small black" href="/commercial/maintenance">maintenance</a>
      <a class="cap-400 text-small black" href="/commercial/refrigeration">refrigeration</a>
      <a class="cap-400 text-small black" href="/commercial/rooftop-unit">rooftop units</a>
      
  </div>
  <div class="align-group-column footer-col">
      <p class="upper-800 text-small black">social media</p>
      <a class="cap-400 text-small black" href="https://www.facebook.com/Giant-Hvac-Inc-104240070953120/" target="_blank">facebook</a>
  </div>
  <div class="align-group-column footer-col">
      <p class="upper-800 text-small black">information</p>
      <a class="cap-400 text-small black" href="/commercial/about">about</a>
      <a class="cap-400 text-small black" href="https://ftlfinance.com/" target="_blank">special finances</a>
    </div>
    <div class="align-group-column footer-col">
      <img style="width: 10em;" src="/svg/life-time.svg">
      <p class="normal-400 text-micro black">Lifetime workmanship guarantee<br> on all installations and equipment</p>
  </div>
</footer>
<div class="patch">
  <p> Website created by <a href="https://digitaldashapps.com">Digital Dashapps</a></p>
</div>

<script>

    var reviewsAuthors = ["J Villalva","Craig Marshall", "Luis Santiago", "Viper PSO", "Susan Lawless"]
    var reviewsComments = ["Very professional and helpful. Great pricing and guaranteed work makes it all the better.", "Went to turn on the AC and it was blowing hot air all day. I called these guys to schedule a maintenance check and they came a few hours later. They were in and out and my AC is working fine now. 5 stars, would highly recommend!!!", "Great service they get the job done right.", "First day the heat came in, I noticed my AC wasn't even working. Looked up some HVAC services and decided on these guys. Didn't take long for them to show up and now my AC is working again! Thanks guys", "I would call them again. Fast & the service was great. Also, I thought prices were pretty fair. Highly recommend"]

    var author = document.getElementById("Author");
    var comment = document.getElementById("Comment");

    var count = 0;

    setInterval(() => {
      
      if (count >= 5) {
        count = 0;

        author.innerHTML = reviewsAuthors[count];
        comment.innerHTML = reviewsComments[count];
        count++;
      } else {

        author.innerHTML = reviewsAuthors[count];
        comment.innerHTML = reviewsComments[count];
        count++;
      }

    }, 5000);
</script>