<footer>
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="widget">
            <h5 class="widgetheading">Browse pages</h5>
            <ul class="link-list">
              <li><a href="/about">About our company</a></li>
              <li><a href="/">Our services</a></li>
              <li><a href="/contact">Get in touch with us</a></li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <div class="widget">
            <h5 class="widgetheading">Important stuff</h5>
            <ul class="link-list">
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>
        </div>
        <div class="span3"></div>
        <div class="span3">
          <div class="widget">
            <h5 class="widgetheading">Get in touch with us</h5>
            <address>
              <strong>4315 N Elston Ave,</strong><br>
              Chicago, IL 60641<br>
             </address>
            <p>
              <i class="icon-phone"></i> (773) 539-9629<br>
              <i class="icon-envelope-alt"></i> frank@gianthvac.com
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="copyright">
              <p>
                <span>2019 &copy; Giant HVAC - All right reserved.</span>
              </p>
              <div class="credits">
                Digital Dash Website
              </div>
            </div>
          </div>
          <div class="span6">
            <ul class="social-network">
              <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
              <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
              <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
              <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
              <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>