<link rel="stylesheet" href="nav.css">
<div class="top-line"></div>
<nav class="fixed-top">
    <input type="checkbox" id="nav" class="hidden">
    <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
    </label>
    <div class="nav-wrapper">
        <a class="logo" href="/"></a>
        <ul>
            <li><a class="menu-link" href="/home">home</a></li>
            <li><a class="menu-link" href="/about">about</a></li>
            <li><a class="menu-link" href="/plubming">services</a></li>
            <li><a class="menu-link" href="/cooling">cooling</a></li>
            <li><a class="menu-link" href="/heating">heating</a></li>
            <li><a class="menu-link" href="/electrical">electrical</a></li>
        </ul>
    </div>
</nav>