<link rel="stylesheet" href="/nav.css">
<nav class="fixed-top" id="bruh" onload="fade()">
    <div class="top-line"></div>
    <input type="checkbox" id="nav" class="hidden" onclick="myFunction()">
    <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
    </label>
    <div class="nav-wrapper">
        <span class="logo"><a href="/">| residential</a></span>
        <ul>
            <li><a class="menu-link" href="/residential">home</a></li>
            <li><a class="menu-link" href="/residential/about">about</a></li>

            <li>
                <div class="dropdown">
                    <button class="dropbtn menu-link">Heating</button>
                    <div class="dropdown-content">
                        <a href="/residential/furnaces">furnaces</a>
                        <a href="/residential/boilers">boilers</a>
                        <a href="/residential/heat-pumps">heat-pumps</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn menu-link">Cooling</button>
                    <div class="dropdown-content">
                        <a href="/residential/air-conditioners">air-conditioners</a>
                        <a href="/residential/ductless-systems">ductless-systems</a>
                    </div>
                </div>
            </li>
            <li><a class="menu-link" href="/plumb">plumbing</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn menu-link">electrical</button>
                    <div class="dropdown-content">
                        <a href="/residential/generators">generators</a>
                        <a href="/residential/panel-replacement">panel-replacement</a>
                        <a href="/residential/thermostats">thermostats</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("nav");
        // Get the output text
        var fixedClass = document.getElementById("bruh");
        console.log("something")
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            fixedClass.style.height = "100%";
            fixedClass.style.padding = "0%";
            fixedClass.style.filter = "none";
        } else {
            fixedClass.style.height = "auto";
            fixedClass.style.padding = "8px";

        }
    }

    function fade() {
        if (screen.width < 1200) {
            var fixedClass = document.getElementById("bruh");
            fixedClass.style.filter = "0";
        }
    }
</script>