<link rel="stylesheet" href="/nav.css">
<nav class="fixed-top" id="bruh" onload="fade()">
    <div class="top-line"></div>
    <input type="checkbox" id="nav" class="hidden" onclick="myFunction()">
    <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
    </label>
    <div class="nav-wrapper">
        <span class="logo"><a href="/">| commercial</a></span>
        <ul>
            <li><a class="menu-link" href="/commercial">home</a></li>
            <li><a class="menu-link" href="/commercial/about">about</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn menu-link">Services</button>
                    <div class="dropdown-content">
                        <a href="/commercial/rooftop-unit">rooftop units</a>
                        <a href="/commercial/duct-work">duct-work</a>
                        <a href="/commercial/refrigeration">refrigeration</a>
                        <a href="/commercial/maintenance">maintenance</a>
                    </div>
                </div>
            </li>
            <li><a class="menu-link" href="https://ftlfinance.com/" target="_blank">financing</a></li>
        </ul>
    </div>
</nav>

<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("nav");
        // Get the output text
        var fixedClass = document.getElementById("bruh");
        console.log("something")
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            fixedClass.style.height = "100%";
            fixedClass.style.padding = "0%";
            fixedClass.style.filter = "none";
        } else {
            fixedClass.style.height = "auto";
            fixedClass.style.padding = "8px";

        }
    }

    function fade() {
        if (screen.width < 1200) {
            var fixedClass = document.getElementById("bruh");
            fixedClass.style.filter = "0";
        }
    }
</script>