<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg8">
            <div class="align-group-column info-bit" style="width: 160%;">
                <p class="cap-800 black text-large">Page not found</p>
                <p class="normal-200 black">You stumbled upon an error 404,<br>It appears you tried to visit a page that doesn't exist! <br>Either the network manager needs more coffee in payment <br>or this page really doesn't exisit</p>
                <img class="line" src="/svg/blue-line.svg">
        </div>
            <div class="form-schedule">
                <div class="form form align-group-row">
                    <div class="icon-container align-group-column">
                        <img class="icon-form" src="/svg/bbb-blue.svg">
                        <img class="icon-form" src="/svg/cert-tech-blue.svg">
                        <img class="icon-form" src="/svg/24-7-blue.svg">
                    </div>
                    <img class="line-4" src="/svg/black-line.svg">
                    <form class="form-form align-group-column">
                        <div class="align-group-column" style="width: inherit;">
                            <p class="cap-800 text-medium black">Schedule</p>
                            <p class="normal-400 text-small black">your appointment</p>
                        </div>
                        <input class="black input normal-400" type="name" placeholder="Full Name">
                        <input class="black input normal-400" type="email" placeholder="Email Address">
                        <input class="black input normal-400" type="phone" placeholder="Phone Number">
                        <input class="black input normal-400" type="address" placeholder="Full Address">
                        <textarea class="black input normal-400" type="text" placeholder="Describe your appointment request..."></textarea>
                        <a id="submit" class="submit text-small white cap-400">Submit </a>
                    </form>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>