<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg6">
            <div class="align-group-column about">
                <p class="cap-800 black text-large">Who is GIANT?</p>
                <p class="normal-200 grey">GIANT HVAC is a heating, ventilation, and air conditioning company based here in Chicago, Illinois. We have been satisfying customer needs for over 30 years and we service both the residential and commercial sectors.</p>
                <img class="line" src="/svg/blue-line.svg">
            </div>
            <img class="family-about" src="/img/family-about.png">
        </div>
        <div class="sg3">
            <img class="icon-award" src="/svg/bbb.svg">
            <img class="icon-award" src="/svg/cert-tech.svg">
            <img class="icon-award" src="/svg/24-7.svg">
        </div>
        <div class="sg6">
            <img class="family-about" src="/img/truck.png">
            <div class="align-group-column about">
                    <p class="cap-800 black text-large">We're A+ Accredited!</p>
                    <p class="normal-200 grey">We hold an A+ Accredited Business rating from the Better Business Bureau but what makes us take pride in our work at GIANT is the feedback we receive from all of our satisfied customers. For whatever HVAC situation you are in GIANT has a solution, and if we cannot provide an instant answer we will work with you until we can resolve your dilemma.</p>
                    <img class="line" src="/svg/blue-line.svg">
            </div>
        </div>
        <div class="sg3">
            <div>

            </div>
        </div>
        <div class="sg6">
            <div class="align-group-column about">
                <p class="cap-800 black text-large">We got you covered!</p>
                <p class="normal-200 grey">We prioritize your satisfaction, be it a late night emergency or a routine repair we offer prompt professional service at an unbeatable price. This is just one of the reasons why so many customers choose GIANT for all of their heating, cooling, and refrigeration needs!</p>
                <img class="line" src="/svg/blue-line.svg">
            </div>
            <img class="family-about" src="/img/truck-flip.png">
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47447.36469684792!2d-87.774654!3d41.9903961!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fcdc62c9e71c7%3A0xa004f665ac7b26d4!2s4315%20N%20Elston%20Ave%2C%20Chicago%2C%20IL%2060641!5e0!3m2!1sen!2sus!4v1576045588973!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>

        <%- include('partials/footer.ejs') %>
    </body>
</html>