<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg6">
            <div class="align-group-row about">
                <p class="cap-800 black text-xlarge">who we are</p>
                <p class="normal-200 grey">As you work at your desk, beads of sweat drip off your face-the AC is down at your office. Or maybe you find yourself shivering because of a broken heater. Either way, turn to the professionals at Giant HVAC, Inc.</p>
                <img class="line" src="/svg/blue-line.svg">
            </div>
            <img class="family-about" src="/img/family-about.png">
        </div>
    </body>
</html>