<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg7">
            <img class="air-conditioner" src="/img/air-conditioners.png">
            <div class="align-group-column info-bit">
                    <p class="cap-800 black text-glarge">AC Maintenance</p>
                    <p class="normal-200 grey">You may not give your home’s air conditioning system much thought when it is working at its best, but neglecting regular AC maintenance can lead to early system breakdown and expensive repair and replacement costs. In order to help you stay on top of the maintenance requirements for your home’s cooling system, GIANT HVAC provides thorough maintenance services that can help to:</p>
                    <img class="line" src="/svg/blue-line.svg">
                    <div class="list-container">
                        <ul class="list">
                            <li><img class="icon" src="/svg/money.svg"><p class="text-list">Reduce cooling cost</p></li>
                            <li><img class="icon" src="/svg/calendar.svg"><p class="text-list">Extend AC lifespan</p></li>
                            <li><img class="icon" src="/svg/verified.svg"><p class="text-list">Professional Installation</p></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="sg8">
            <div class="align-group-column info-bit-3">
                    <p class="cap-800 black text-medium-xl">Expert HVAC Maintenance for Air Conditioning Systems</p>
                    <p class="normal-200 grey"> Air conditioning is an integral part of everyday life, so when an air conditioning unit is not acting properly or at full capacity we feel the effects quickly. GIANT aims to provide expert maintenance and repair services as fast as you need it, to keep your household cool, calm, and collected.</p>
                    <img class="line" style="margin: 5em;"src="/svg/blue-line.svg">
                    <p class="cap-800 black text-medium-xl">Learn More about Our Air Conditioning Maintenance Service in Chicago</p>
                    <p class="normal-200 grey">With the help of our partner companies we offer a products that cater to your specific needs. Reach out to our team for a no obligation consultation and we can develop an air conditioning solution for you.</p>
            </div>
            <div class="form-schedule">
                <div class="form form align-group-row">
                    <div class="icon-container align-group-column">
                        <img class="icon-form" src="/svg/bbb-blue.svg">
                        <img class="icon-form" src="/svg/cert-tech-blue.svg">
                        <img class="icon-form" src="/svg/24-7-blue.svg">
                    </div>
                    <img class="line-4" src="/svg/grey-line.svg">
                    <form class="form-form align-group-column">
                        <div class="align-group-column" style="width: inherit;">
                            <p class="cap-800 text-medium black">Schedule</p>
                            <p class="normal-400 text-small grey">your appointment</p>
                        </div>
                        <input class="black input normal-400" type="name" placeholder="Full Name">
                        <input class="black input normal-400" type="email" placeholder="Email Address">
                        <input class="black input normal-400" type="phone" placeholder="Phone Number">
                        <input class="black input normal-400" type="address" placeholder="Full Address">
                        <textarea class="black input normal-400" type="text" placeholder="Describe your appointment request..."></textarea>
                        <a id="submit" class="submit text-small white cap-400">Submit</a>
                    </form>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>