<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title><%- pageTitle %></title>
    <body>
        <%- include('partials/navbar-com.ejs') %>
        <div class="sg1-c">
            <img class="landing-logo"src="/svg/giant-white.svg" style="margin-bottom: 1em;">
            <p class="cap-800 white text-medium">Chicagoland’s Top Commercial<br>Provider of Heating, Air Conditioning, and Plumbing with over three decades of experience</p>
            <p class="normal-200 white text-small">Be it maintenance, installation, or repairs, we offer 24/7 service and a real customer service agents that prioritize your needs as a client.</p>
        </div>
        <div class="sg2">
            <div class="align-group-column info-bit">
                <p class="cap-800 black text-medium">Trust the Professionals<br>to ensure your commercial HVAC systems are working properly and efficiently.</p>
                <p class="normal-200 black">As a business here in Illinois the last dilemma you would want to find yourself in would be losing your heat during a polar vortex, or your air conditioning during a heat wave. GIANT HVAC’s professionals and their attention to detail handle the hard work so you can have peace of mind when it comes to your business’s heating and cooling needs.</p>
                <img class="line" src="/svg/blue-line.svg">
                <div class="list-container">
                    <ul class="list">
                        <li><img class="icon" src="/svg/wind.svg"><p class="text-list">Quality Air Control</p></li>
                        <li><img class="icon" src="/svg/award.svg"><p class="text-list">Accredited Professionals</p></li>
                        <li><img class="icon" src="/svg/calendar.svg"><p class="text-list">Life-time Repairs Service</p></li>
                    </ul>
                    <ul class="list">
                        <li><img class="icon" src="/svg/dashboard-level.svg"><p class="text-list">Full Temperature Control</p></li>
                        <li><img class="icon" src="/svg/document.svg"><p class="text-list">Full Disclosure of all repairs</p></li>
                    </ul>
                </div>
            </div>
            <img class="family-c" src="/img/building.png">
        </div>
        <div class="sg3">
            <img class="icon-award" src="/svg/bbb.svg">
            <img class="icon-award" src="/svg/cert-tech.svg">
            <img class="icon-award" src="/svg/24-7.svg">
            <img class="icon-award" src="/svg/quote-bbb-light.svg">
        </div>
        <div class="sg4">
            <div class="truck"></div>
            <img class="line-2" src="/svg/blue-line-v.svg">
            <div class="align-group-column info-bit-2">
                <p class="cap-800 text-xlarge blue">40k</p>
                <p class="cap-800 black text-small">Repairs done in</p>
                <p class="cap-800 black text-medium-micro">around the <br>Chicagoland area.</p>
                <img class="line-6" src="/svg/blue-line.svg">
                <p class="normal-200 black">Because we prioritize accuracy and customer satisfaction GIANT HVAC delivers speedy repairs whenever you need them. </p>
                <p class="normal-200 black">Our team can service any need you may have, from the installation of AC or Heating units to repairing or even replacing preexisting ones, GIANT has you covered.</p>
                <p class="normal-200 black">We also provide ductwork, regular servicing, and troubleshooting services. Call us at <a href="">773-539-9629</a> to schedule your repair services!</p>
            </div>
        </div>
        <div class="sg13">
            <div class="align-group-column title-line">
                <p class="cap-800 text-medium">Companies We Work With</p>
                <img class="line-5" src="/svg/blue-line.svg">
                <p class="normal-400 text-small">Companies We Work With</p>
            </div>
            <div class="image-container">
                <img class="branding-icons" src="/img/brand/brand-1.jpg">
                <img class="branding-icons" src="/img/brand/brand-2.jpg">
                <img class="branding-icons" src="/img/brand/brand-3.jpg">
                <img class="branding-icons" src="/img/brand/brand-4.jpg">
                <img class="branding-icons" src="/img/brand/brand-5.jpg">
                <img class="branding-icons" src="/img/brand/brand-6.jpg">
                <img class="branding-icons" src="/img/brand/brand-7.jpg">
                <img class="branding-icons" src="/img/brand/brand-8.jpg">
                <img class="branding-icons" src="/img/brand/brand-9.jpg">
                <img class="branding-icons" src="/img/brand/brand-10.jpg">
                <img class="branding-icons" src="/img/brand/brand-11.jpg">
            </div>

        </div>
        <div class="sg5">
            <p class="normal-400 white text-small">Experiencing problems with your HVAC?</p>
            <p class="cap-800 white text-medium">Schedule An Appointment!</p>
            <p class="normal-200 white text-small">Have our professionals checkout your HVAC to ensure its working at maximum efficiency before its to late, resulting in a brand new HVAC, which could be costly compared to a repair.</p>
            <img class="line-3" src="/svg/blue-line.svg">
        </div>
        <%- include('partials/footer-com.ejs') %>
    </body>
</html>