<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg7">
            <img class="air-conditioner" src="/img/air-conditioners.png">
            <div class="align-group-column info-bit">
                    <p class="cap-800 black text-glarge">Coupons</p>
                    <p class="normal-200 grey">You may not give your home’s air conditioning system much thought when it is working at its best, but neglecting regular AC maintenance can lead to early system breakdown and expensive repair and replacement costs. In order to help you stay on top of the maintenance requirements for your home’s cooling system, GIANT HVAC provides thorough maintenance services that can help to:</p>
                    <img class="line" src="/svg/blue-line.svg">
                    <div class="list-container">
                        <ul class="list">
                            <li><img class="icon" src="/svg/money.svg"><p class="text-list">Reduce cooling cost</p></li>
                            <li><img class="icon" src="/svg/calendar.svg"><p class="text-list">Extend AC lifespan</p></li>
                            <li><img class="icon" src="/svg/verified.svg"><p class="text-list">Professional Installation</p></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="sg12">
            <div class="promo-card"></div>
            <div class="promo-card"></div>
            <div class="promo-card"></div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>