<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg12">
            <div class="promo-card">
                <div class="promo-item">
                    <img class="promo-icon" src="/img/air-conditioners.png">
                    <p class="normal-400 text-medium">A/C Tune-ups</p>
                    <p class="normal-400 text-micro red">Only $79.95 <span class="cross grey">$99.95</span></p>
                </div>
            </div>
            <div class="promo-card">
                <div class="promo-item">
                    <img class="promo-icon" src="/img/furnace.png">
                    <p class="normal-400 text-medium">Furnace Tune-ups</p>
                    <p class="normal-400 text-micro red">Only $79.95 <span class="cross grey">$99.95</span></p>
                </div>
            </div>
            <div class="promo-card">
                <div class="promo-item">
                    <img class="promo-icon" src="/img/ductless.png">
                    <p class="normal-400 text-medium">Duct cleaning</p>
                    <p class="normal-400 text-micro red">Only $350 <span class="cross grey">$450</span></p>
                </div>
            </div>
            <div class="promo-card">
                <div class="promo-item">
                    <img class="promo-icon" src="/img/ductless.png">
                    <p class="normal-400 text-medium">Duct cleaning</p>
                    <p class="normal-400 text-micro red">Only $350 <span class="cross grey">$450</span></p>
                </div>
            </div>
            <div class="promo-card">
                <div class="promo-item">
                    <img class="promo-icon" src="/img/ductless.png">
                    <p class="normal-400 text-medium">Duct cleaning</p>
                    <p class="normal-400 text-micro red">Only $350 <span class="cross grey">$450</span></p>
                </div>
            </div>
            <div class="promo-card">
                <div class="promo-item">
                    <img class="promo-icon" src="/img/ductless.png">
                    <p class="normal-400 text-medium">Duct cleaning</p>
                    <p class="normal-400 text-micro red">Only $350 <span class="cross grey">$450</span></p>
                </div>
            </div>
            <div class="promo-card">
                <div class="promo-item">
                    <img class="promo-icon" src="/img/ductless.png">
                    <p class="normal-400 text-medium">Duct cleaning</p>
                    <p class="normal-400 text-micro red">Only $350 <span class="cross grey">$450</span></p>
                </div>
            </div>
            <div class="promo-card">
                <div class="promo-item">
                    <img class="promo-icon" src="/img/ductless.png">
                    <p class="normal-400 text-medium">Duct cleaning</p>
                    <p class="normal-400 text-micro red">Only $350 <span class="cross grey">$450</span></p>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>