<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title Data -->
        <title>Giant HVAC | Services</title>
        <link rel="shortcut icon" href="/icon/favicon.png" type="image/x-icon">
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="GIANT HVAC">
        <link rel="stylesheet" href="index.css">
    
    
        <!-- OG Meta Tags -->
        <meta name="theme-color" content="#111410">
        <meta property="og:site_name" content="Giant HVAC" />
        <meta property="og:image" content="/icon/favicon.png"/>
        <meta name="description" content="Giant HVAC">
    
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="view">
            <div class="giant">
                <img src="/svg/giant-white.svg">
            </div>

            <div class="select-container">
                <a href="/residential" class="select-item">
                    <div class="item-inner">
                        <div class="lines">
                            <hr>
                            <p class="title">RESIDENTIAL</p>
                            <hr>
                        </div>
                        <p class="sub-title">FOR HOMEOWNERS & BUILDERS</p>
                        <p class="sub-text">Reliable, energy-efficient, clean air for your home.</p>
                    </div>
                </a>
                <a href="/commercial" class="select-item">
                        <div class="item-inner">
                            <div class="lines">
                                <hr>
                                <p class="title">COMMERCIAL</p>
                                <hr>
                            </div>
                            <p class="sub-title">FOR BUSINESS</p>
                            <p class="sub-text">Making buildings better for people, the environment</p>
                        </div>
                </a>
                <div class="select-item">
                    <div class="item-inner">
                        <div class="lines">
                            <hr>
                            <p class="title">SUPPLIES</p>
                            <hr>
                        </div>
                        <p class="sub-title">FOR DEALERS</p>
                        <p class="sub-text">Parts and supplies for your research and repair.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>