<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg7">
            <img class="air-conditioner" src="/img/plumbing.png">
            <div class="align-group-column info-bit">
                    <p class="cap-800 black text-glarge">Plumbing Services</p>
                    <p class="normal-200 grey">In addition to all of our HVAC services GIANT also deals with a wide range of plumbing and water treatment situations. Be it a small repair or the installation of a completely new system our plumbers are ready to assist you in any way we can.</p>
                    <img class="line" src="/svg/blue-line.svg">
                    <div class="list-container">
                        <ul class="list">
                            <li><img class="icon" src="/svg/money.svg"><p class="text-list">Reduce Plumbing Cost</p></li>
                            <li><img class="icon" src="/svg/calendar.svg"><p class="text-list">Expert Service All Year Long</p></li>
                            <li><img class="icon" src="/svg/verified.svg"><p class="text-list">Professional Service To Give You Peace Of Mind</p></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="sg8">
            <div class="align-group-column info-bit-3">
                    <p class="cap-800 black text-medium-xl">Our Services</p>
                    <p class="normal-200 grey">We offer an extensive selection of plumbing and water treatment services such as; pipe and ewer work, sump pumps, installing new tubs or showers, and water filtration systems. We aren’t limited to that however, and aim to meet all of our customers demands by assessing each situation differently. Look to GIANT to solve all of your plumbing and water filtration needs!</p>
                    <img class="line" style="margin-top: 1em;"src="/svg/blue-line.svg">
            </div>
            <div class="form-schedule">
                <div class="form form align-group-row">
                    <div class="icon-container align-group-column">
                        <img class="icon-form" src="/svg/bbb-blue.svg">
                        <img class="icon-form" src="/svg/cert-tech-blue.svg">
                        <img class="icon-form" src="/svg/24-7-blue.svg">
                    </div>
                    <img class="line-4" src="/svg/grey-line.svg">
                    <form class="form-form align-group-column">
                        <div class="align-group-column" style="width: inherit;">
                            <p class="cap-800 text-medium black">Schedule</p>
                            <p class="normal-400 text-small grey">your appointment</p>
                        </div>
                        <input class="black input normal-400" type="name" placeholder="Full Name">
                        <input class="black input normal-400" type="email" placeholder="Email Address">
                        <input class="black input normal-400" type="phone" placeholder="Phone Number">
                        <input class="black input normal-400" type="address" placeholder="Full Address">
                        <textarea class="black input normal-400" type="text" placeholder="Describe your appointment request..."></textarea>
                        <a id="submit" class="submit text-small white cap-400">Submit </a>
                    </form>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>