<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="sg1">
            <p class="upper-600 white text-small">CHICAGOLAND’S MOST TRUSTED</p>
            <p class="cap-800 white text-large">heating, air conditioning,<br>and plumbing company</p>
            <p class="normal-200 white text-small">GIANT HVAC is Chicagoland’s most trusted provider of heating and air conditioning services. Whether it's maintenance, repair, or installation, we're available 24/7 and you'll always speak to a live person. Our team is committed to total customer satisfaction and we'll call you after we finish to ensure a job well done! We look forward to helping you with your home comfort needs.</p>
        </div>
        <div class="sg2">
            <div class="align-group-row info-bit">
                <p class="normal-400 text-small black">We have over three decades of experience</p>
                <p class="cap-800 black text-medium">Keep your company's HVAC <br>systems working smoothly!</p>
                <p class="normal-200 grey">As you work at your desk, beads of sweat drip off your face-the AC is down at your office. Or maybe you find yourself shivering because of a broken heater. Either way, turn to the professionals at Giant HVAC, Inc.</p>
                <img class="line" src="/svg/blue-line.svg">
                <div class="list-container">
                    <ul class="list">
                        <li><img class="icon" src="/svg/wind.svg"><p class="text-list">Quality Air Control</p></li>
                        <li><img class="icon" src="/svg/award.svg"><p class="text-list">Awarded Professionals</p></li>
                        <li><img class="icon" src="/svg/calendar.svg"><p class="text-list">Life-time Repairs</p></li>
                    </ul>
                    <ul class="list">
                        <li><img class="icon" src="/svg/dashboard-level.svg"><p class="text-list">Temperature Control</p></li>
                        <li><img class="icon" src="/svg/document.svg"><p class="text-list">Documented Repairs</p></li>
                    </ul>
                </div>
            </div>
            <img class="family-c" src="/img/family-c.png">
        </div>
        <div class="sg3">
            <img class="icon-award" src="/svg/bbb.svg">
            <img class="icon-award" src="/svg/cert-tech.svg">
            <img class="icon-award" src="/svg/24-7.svg">
        </div>
        <div class="sg4">
            <img class="truck" src="/img/Mask Group 13.png">
            <img class="line-2" src="/svg/blue-line-v.svg">
            <div class="align-group-row info-bit-2">
                <p class="cap-800 text-xlarge blue">40k</p>
                <p class="cap-800 black text-small">speed repairs done</p>
                <p class="cap-800 black text-medium-micro">Professionally done,<br>with highest accuracy</p>
                <img class="line" src="/svg/blue-line.svg">
                <p class="normal-200 grey">As you work at your desk, beads of sweat drip off your face-the AC is down at your office. Or maybe you find yourself shivering because of a broken heater. Either way, turn to the professionals at Giant HVAC, Inc.<br><br>As you work at your desk, beads of sweat drip off your face-the AC is down at your office. Or maybe you find yourself shivering because of a broken heater. Either way, turn to the professionals at Giant HVAC, Inc.</p>
            </div>
        </div>
        <div class="sg5">
            <p class="normal-400 white text-small">Experiencing problems with your HVAC?</p>
            <p class="cap-800 white text-medium">Schedule An Appointment!</p>
            <p class="normal-200 white text-small">Have our professionals checkout your HVAC to ensure its working at maximum efficiency before its to late, resulting in a brand new HVAC, which could be costly compared to a repair.</p>
            <img class="line-3" src="/svg/blue-line.svg">
        </div>
    </body>
</html>