<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar-com.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg7">
            <img class="air-conditioner" src="/img/rooftop.png">
            <div class="align-group-column info-bit">
                    <p class="cap-800 black text-glarge">Rooftop Units</p>
                    <p class="normal-200 black">Through our partner companies we offer a wide selection of furnaces to fit any budget and system. Our team will work with you to provide the best solution that meets you and your home’s requirements.</p>
                    <img class="line" src="/svg/blue-line.svg">
                    <div class="list-container">
                        <ul class="list">
                            <li><img class="icon" src="/svg/money.svg"><p class="text-list">Reduce Heating Cost</p></li>
                            <li><img class="icon" src="/svg/routine.svg"><p class="text-list">Routine Maintenance</p></li>
                            <li><img class="icon" src="/svg/verified.svg"><p class="text-list">Installed with a professional touch.</p></li>
                            <li><img class="icon" src="/svg/power.svg"><p class="text-list">80% - 90% Efficient</p></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="sg8">
            <div class="align-group-column info-bit-3">
                    <p class="cap-800 black text-medium-xl">Furnace Maintenance for Long-Lasting Use</p>
                    <p class="normal-200 black">GIANT understands that our services allow clients to invest in their homes. So to make sure you receive the most out your investment we offer maintenance services to keep your furnace in mint condition, so you can rest easy knowing your heat won’t let you down. </p>
                    <img class="line" style="margin: 5em;"src="/svg/blue-line.svg">
                    <p class="cap-800 black text-medium-xl">Learn More About Our High-Efficiency Furnaces   </p>
                    <p class="normal-200 black">With the help of our partner companies we offer a products that cater to your specific needs. Reach out to our team for a no obligation consultation and we can develop a solution for you. </p>
            </div>
            <div class="form-schedule">
                <div class="form form align-group-row">
                    <div class="icon-container align-group-column">
                        <img class="icon-form" src="/svg/bbb-blue.svg">
                        <img class="icon-form" src="/svg/cert-tech-blue.svg">
                        <img class="icon-form" src="/svg/24-7-blue.svg">
                    </div>
                    <img class="line-4" src="/svg/black-line.svg">
                    <form class="form-form align-group-column">
                        <div class="align-group-column" style="width: inherit;">
                            <p class="cap-800 text-medium black">Schedule</p>
                            <p class="normal-400 text-small black">your appointment</p>
                        </div>
                        <input class="black input normal-400" type="name" placeholder="Full Name">
                        <input class="black input normal-400" type="email" placeholder="Email Address">
                        <input class="black input normal-400" type="phone" placeholder="Phone Number">
                        <input class="black input normal-400" type="address" placeholder="Full Address">
                        <textarea class="black input normal-400" type="text" placeholder="Describe your appointment request..."></textarea>
                        <a id="submit" class="submit text-small white cap-400">Submit </a>
                    </form>
                </div>
            </div>
        </div>
        <%- include('partials/footer-com.ejs') %>
    </body>
</html>