<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <body>
        <div class="sg7">
            <img class="air-conditioner" src="/img/thermostats.png">
            <div class="align-group-column info-bit">
                    <p class="cap-800 black text-glarge">   Thermostats</p>
                    <p class="normal-200 black">GIANT has partnered with some of the best manufacturers in the industry to provide top of the line thermostats for our customers. Whether you are looking to purchase a new thermostat or service an existing one GIANT is your one stop shop for all your electrical needs!</p>
                    <img class="line" src="/svg/blue-line.svg">
                    <div class="list-container">
                        <ul class="list">
                            <li><img class="icon" src="/svg/diamond.svg"><p class="text-list">Reduce Heating Cost</p></li>
                            <li><img class="icon" src="/svg/routine.svg"><p class="text-list">routine Maintenance</p></li>
                            <li><img class="icon" src="/svg/verified.svg"><p class="text-list">Professional Installation</p></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="sg8">
            <div class="align-group-column info-bit-3" >
                    <p class="cap-800 black text-medium-xl">Customized Temperature Control</p>
                    <p class="normal-200 black">Have full control of your house’s temperature anytime. With all of thermostats we offer at GIANT you can be assured there is a always a setting to fit your need.</p>
                    <img class="line" style="margin: 5em;"src="/svg/blue-line.svg">
                    <p class="cap-800 black text-medium-xl">Learn More about Installing a Smart Thermostat in Your Chicago Home!</p>
                    <p class="normal-200 black">Our thermostats are not just limited to adjusting temperatures! Get in touch with a GIANT representative today to learn about all the functionalities our smart thermostats have to offer! </p>
            </div>
            <div class="form-schedule">
                <div class="form form align-group-row">
                    <div class="icon-container align-group-column">
                        <img class="icon-form" src="/svg/bbb-blue.svg">
                        <img class="icon-form" src="/svg/cert-tech-blue.svg">
                        <img class="icon-form" src="/svg/24-7-blue.svg">
                    </div>
                    <img class="line-4" src="/svg/blue-line-v.svg">
                    <form class="form-form align-group-column">
                        <div class="align-group-column" style="width: inherit;">
                            <p class="cap-800 text-medium black">Schedule</p>
                            <p class="normal-400 text-small black">your appointment</p>
                        </div>
                        <input class="black input normal-400" type="name" placeholder="Full Name">
                        <input class="black input normal-400" type="email" placeholder="Email Address">
                        <input class="black input normal-400" type="phone" placeholder="Phone Number">
                        <input class="black input normal-400" type="address" placeholder="Full Address">
                        <textarea class="black input normal-400" type="text" placeholder="Describe your appointment request..."></textarea>
                        <a id="submit" class="submit text-small white cap-400">Submit </a>
                    </form>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>