.rotate {
    position: absolute;
    display: none;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    z-index: 10000000;
    height: 100%;
    width: 100%;
    opacity: 0%;

}

.rotate p {
    align-items: center;
    display: flex;
}
/* Dropdown Button */
.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 1.2px;
    border: none;
    transition: all 0.3s;
  }

  button {
      padding: 0em;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 0em;
    z-index: 5000;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5000 !important;
    transition: all 0.6s;
    opacity: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 1em 0.8em;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; opacity: 1;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ddd;}

nav {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
}

.logo {
    float: left;
    margin-left: 5em;
    margin-top: 0.75em;
    font-weight: 800;
    font-size: 1.25em;
}

.logo:before {
    content: " ";
    background: url("/svg/giant.svg");
    background-size: contain;
    position: absolute;
    display: block;
    width: 5.5em;
    height: 1.75em;
    background-repeat: no-repeat;
    left: 1em;
    top: 1.1em;
}

.sign-in {
    float: right;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.top-line {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3px;
    background: linear-gradient(to right,#FFE600 25%,#FF002B 25%,#FF002B 50%,#0090FF 50%,#0090FF 75%,#04ff00 75%, #04ff00);
    background-size: 480px;
    z-index: 2000;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    color: white;
    background-color: white;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.avatar {
    border-radius: 50%;
    margin-left: 0.5em;
    width: 2.5em;
}

.settings-icon {
    margin-right: 0.5em;
    width: 1.75em;
}

.logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .7em;
    letter-spacing: 0px;
    text-decoration: none;
    padding: 0%;
    margin-top: 0.7em;
    margin-left: 3em;
}

.sign-in a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 1.2px;
    font-weight: 600;
    transition: ease all 0.3s;
}

/* Menu Links */

.menu-link {
    text-decoration: none;
    position: relative;
    padding: 0.1em;
}

.menu-link:hover {
    background-color: #ddd;
}

.menu-link:after {
    content: '';
    height: .2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #000000;
    transition: 0.2s;
    margin-top: 5.5em;
}

.menu-link.active:after {
    content: '';
    height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: cyan;
    transition: 0.2s;
    margin-bottom: 3em;
    margin-bottom: 2.9em;
    width: 100%;
}

.menu-link:hover:after {
    margin-top: 5.5em;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    
    .logo {
        margin-left: 6em;
        margin-top: 3.5em;
        font-size: 1.5em;
    }

    .logo:before {
        left: 2em;
        top: 3.2em;
    }
    

    .sign-in {
        margin-right: 2em;
        margin-top: 3.5em;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 25%;
        transform: translateY(-25%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.6s;
    }
    .nav-wrapper ul li:nth-child(6) a {
        transition-delay: 0.7s;
    }
    .nav-wrapper ul li:nth-child(7) a {
        transition-delay: 0.7s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 0.75em;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-wrapper ul li div {
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-24px);
        transition: all 0.2s ease;
    }
    .nav-wrapper ul li div button {
        padding: 10px 24px;
    }

    .nav-btn {
        position: fixed;
        left: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #858585;
        border-radius: 2px;
        margin-left: 14px;
        filter: contrast(0);
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
    
    .fixed-top {
        background: rgba(0, 0, 0, 0);
        color: white
    }
}

@media screen and (min-width: 1200px), screen and (max-height: 700px ){
    .nav-wrapper ul {
        top: 40%;
        display: flex;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 864px) {
    
    .logo {
        margin-left: 5.5em;
        margin-top: 4.5em;
        font-size: 1.5em;
    }

    .logo:before {
        left: 2em;
        top: 4.2em;
    }
    
    .sign-in {
        margin-right: 2em;
        margin-top: 3.5em;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 25%;
        transform: translateY(-25%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.6s;
    }
    .nav-wrapper ul li:nth-child(6) a {
        transition-delay: 0.7s;
    }
    .nav-wrapper ul li:nth-child(7) a {
        transition-delay: 0.7s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 0.75em;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-wrapper ul li div {
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-24px);
        transition: all 0.2s ease;
    }
    .nav-wrapper ul li div button {
        padding: 10px 24px;
    }

    .nav-btn {
        position: fixed;
        left: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: black;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
    
    .fixed-top {
        background: rgba(0, 0, 0, 0);
        color: white
    }
}

@media screen and (max-width: 400px) {
    
    .logo {
        margin-left: 80px;
        margin-top: 4em;
        font-size: 1.5em;
    }

    .logo:before {
        left: 2em;
        top: 4.2em;
    }
    

    .sign-in {
        margin-right: 2em;
        margin-top: 3.5em;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 35%;
        transform: translateY(-25%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.6s;
    }
    .nav-wrapper ul li:nth-child(6) a {
        transition-delay: 0.7s;
    }
    .nav-wrapper ul li:nth-child(7) a {
        transition-delay: 0.7s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 0.75em;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-wrapper ul li div {
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-24px);
        transition: all 0.2s ease;
    }
    .nav-wrapper ul li div button {
        padding: 10px 24px;
    }

    .nav-btn {
        position: fixed;
        left: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: black;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
    
    .fixed-top {
        background: rgba(0, 0, 0, 0);
        color: white
    }
}

#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    z-index: 999;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}
#nav:checked~.nav-wrapper ul li div {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
}

@keyframes slide-top {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
}
